@{
    ViewBag.Title = Internationalization.Resources.About;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Internationalization.Resources.AboutTask</h2>
<div>
    @Internationalization.Resources.AboutInfo
</div>
