@{
    ViewBag.Title = Internationalization.Resources.Welcome;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Internationalization.Resources.WelcomeInfo1</h2>

<p>@Internationalization.Resources.WelcomeInfo2</p>

<p>
    <input type="submit" value="@Internationalization.Resources.PostJob" />
</p>